<.flash_group flash={@flash} />
<div class="mx-auto max-w-xl ">
  <h1 class="text-[2rem] mt-4 font-semibold leading-10 tracking-tighter text-zinc-900 text-balance">
    TauAgenda to manage your tasks
  </h1>
  <small class="text-brand bg-brand/5 text-[0.8125rem] rounded-full px-2 font-medium leading-6 mt-4">
    v{Application.spec(:tau_agenda, :vsn)}
  </small>
  <p class="mt-4 text-base leading-7 text-zinc-600">
    The simple application to boost your productivity.
  </p>
  <div class= "mt-4 flex justify-center">
    <a href={~p"/tasks"} class="rounded-lg bg-zinc-900 hover:bg-zinc-700 py-2 px-3 text-sm font-semibold leading-6 text-white active:text-white/80">
      Get Started
    </a>
  </div>
</div>
